<div class="container">
    <h1>Welcome</h1>
    <h3>Test Your Knowledge Here!!!</h3>
    <a asp-controller="Quiz" asp-action="Index" class="btn btn-primary">Start Quiz</a>
    <a asp-controller="Home" asp-action="Details" class="btn btn-primary">View Previous Quizzes</a>
</div>
